.rightBar{
    width: 25%;
    background: #262626;
    height: 100vh;
    right: 0;
    position: fixed;
    padding: 40px 50px;
    top: 0;
}

.rightBar__headline{
    font-size: 28px;
    color: white;
    font-weight: 400;
    margin-top:50px;
    margin-bottom: 20px;
}

.rightBar__image{
    margin-top: 60px;
}

.rightBar__userIcon{
    background: linear-gradient(346.66deg, rgba(210, 210, 210, 0.12) 19.17%, rgba(182, 182, 182, 0.31) 80.83%);
    border: 0.25px solid #686868;
    backdrop-filter: blur(76.1462px);
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rightBar__user {
    display: flex;
    align-items: center;
   
}

.rightBar__index{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.rightBar__index h2 {
  margin:0;
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.rightBar__index h3 {
    margin:0;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  .black{
    background-color: var(--grey);
}

.purple{
    background-color:var(--purple);
}

.rightBar__userIcon svg {
    font-size: 60px;
}

.rightBar__noRecord h3{
    font-size: 16px;
    font-weight: 400;
}

.rightBar__noRecord h3 u {
    cursor: pointer;
    transition: all 0.4s;
}

.rightBar__noRecord h3 u:hover{
    color: rgb(33, 134, 216);
}

/* Single Transaction module */
