.selectWrapper{
    margin-top: 20px;
}

.selectWrapper > h3{
    font-size: 20px;
    font-family: 'Mulish',sans-serif;
    color: #B2B2B2;
    margin-bottom: 10px;
    font-weight: 100;
}

.select{
    width: 100%;
    font-size: 16px;
    font-family: 'Mulish',sans-serif;
    background: rgba(58, 58, 58, 0.8);
    border: none;
    color: #B2B2B2;
    border-radius: 5px;
    padding: 15px;
    height: 60px;
    outline: none;
    cursor: pointer;
}

.select::after{
    border: none;
    outline: none;
}