.newscard{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    cursor: pointer;
}

.newscard  div {
    margin-left: 20px;
}

.newscard  div  h2{
    font-size: 24px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.newscard  div  h5{
    font-size: 12px;
    color: white;
    font-weight: 400;
    margin-top: 5px;
    cursor: pointer;
}

.newscard div h2:hover{
    text-decoration: underline;
    transition: all 0.3s;
}