.dashboard{
    background-color: var(--black);
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 55%;
    margin-left:20%;
    margin-right: 25%;
}

.dashboard__content{
    height: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
}

.dashboard__greeting{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.dashboard__greeting h1 {
    font-size: 60px;
    line-height: 72px;
    color: white;
}

.dashboard__greeting h4{
    font-size: 18px;
    font-weight: 600;
    color: #A5A5A5;
    line-height: 22px;
    margin-top: 10px;
}

.dashboard--top{
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}

.dashboard--middle{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
}

.dashboard__crypto{
    width: 420px;
    height: 460px;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    padding: 20px 30px;
    background-color: var(--grey);
}

.dashboard__crypto h3 {
    font-size: 28px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.dashboard__loadMore{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.dashboard__loadMore:hover{
    background-color: rgb(82, 82, 82);
    transition: all 0.3s;
}

.dashboard__stats{
    display: flex;
    align-items: center;
    margin-left: 30px;
    flex-direction: column;
    
}

.dashboard__stats div:first-child{
    margin-bottom: 30px;
}

.dashboard__stats--single{
    width: 420px;
    height: 215px;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: var(--boxShadow);
    background-color: var(--grey);
}

.dashboard__stats--single h3 {
    font-size: 28px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}

.dashboard__categories{
    display: flex;
    align-items: center;
    margin-left: 30px;
    flex-direction: column;
}


.dashboard__categories--single{
    background-color: var(--grey);
    width: 420px;
    height: 215px;
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 30px;
    box-shadow: var(--boxShadow);
}

.dashboard__categories--single h3 {
    font-size: 28px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}


@media screen and (max-width: 1601px) {
    .dashboard{
        width: 65%;
        margin-left:7.5%;
        margin-right: 27.5%;
    }
  }








