.BalanceCard--purple,.BalanceCard--red{
    width: 420px;
    height: 150px;
    border-radius: 5px;
    background: linear-gradient(96.83deg, #BD5AAD 8.59%, #4B1558 94.92%);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(76.1462px);
    padding: 30px 20px;
}

.BalanceCard--red{
    background: linear-gradient(96.83deg, #F16516 8.59%, #E74150 94.92%);
}

.BalanceCard--purple h2, .BalanceCard--red h2{
    font-size: 28px;
    margin: 0;
    margin-bottom: 8px;
    color: white;
}

.BalanceCard--purple h3 , .BalanceCard--red h3{
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: white;
    font-weight: 400;
}

.BalanceCard--black,.BalanceCard--green,.BalanceCard--darkPurple{
    width: 270px;
    height: 140px;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: var(--boxShadow);
}

.BalanceCard--black h2, .BalanceCard--green h2 ,.BalanceCard--darkPurple h2{
    font-size: 28px;
    margin: 0;
    margin-bottom: 8px;
    color: white;
}

.BalanceCard--black h3 , .BalanceCard--green h3 ,.BalanceCard--darkPurple h3{
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: white;
    font-weight: 400;
}

.BalanceCard--black{
    background: var(--grey);
}

.BalanceCard--darkPurple{
    background-color: var(--purple);
}

.BalanceCard--green{
    background: linear-gradient(96.83deg, #BBDC3A 8.59%, #38D380 94.92%);
}

@media screen and (max-width: 996px) {
    .BalanceCard--black{
        display: none;
    }
    .BalanceCard--darkPurple{
        display: none;
    }
    .BalanceCard--purple,.BalanceCard--red{
        width: 100%;
        height: 80px;
        margin-right: 0px;
        border-radius: 5px;
        padding: 10px 20px;
        box-shadow: var(--boxShadow);
    }
    .BalanceCard--purple h2 ,.BalanceCard--red h2{
        font-size: 18px;
        margin: 0;
        margin-bottom: 4px;
        color: white;
    }
    .BalanceCard--purple h3 , .BalanceCard--red h3{
        font-size: 14px;
        margin: 0;
        margin-bottom: 5px;
        color: white;
        font-weight: 400;
    }
    .BalanceCard--green{
        width: 100%;
        height: 80px;
        margin-right: 0px;
        border-radius: 5px;
        padding: 10px 20px;
        box-shadow: var(--boxShadow);
    }
    .BalanceCard--green h2 {
        font-size: 18px;
        margin: 0;
        margin-bottom: 4px;
        color: white;
    }
    .BalanceCard--green h3 {
        font-size: 14px;
        margin: 0;
        margin-bottom: 5px;
        color: white;
        font-weight: 400;
    }
  }