.connectButton{
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.4s;
    font-family: 'Mulish',sans-serif;
    
}

/* .connectButton::before {
    content: "connectButton";
    position: absolute;
    height: 50%;
    width: 50%;
    background: linear-gradient(90deg, purple, green, hotpink);
    z-index: -1;
    filter: blur(20px);
  } */

.connectButton:hover{
    box-shadow: 0px 0px 5px 5px rgb(255, 251, 0);
}


.chainNameWrapper{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.chainName{
    margin: 0;
    padding: 0;
}

.accountWrapper{
    border-radius: 10px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
}

.accountText{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    padding: 5px;
    font-family: 'Mulish',sans-serif;
}

.accountBalance{
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding: 5px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    font-family: 'Mulish',sans-serif;
}


@media screen and (max-width: 1024px) {
    .connectButton{
        border-radius: 5px;
        padding: 0 5px;
    }
    .accountWrapper{
        border: none;
        background-color: transparent;
    }
   
  }