.backdrop{
    position: fixed;
    top:0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.77);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}