.homepageTxnCard--right{
    margin-left: 20px;
}

.homepageTxnCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.homepageTxnCard div h2 {
    font-size: 20px;
    color: white;
    margin: 0;
}

.homepageTxnCard div h4 {
    font-size: 16px;
    color: #C5C5C5;
    margin: 0;
    font-weight: 400;
}

.homepageTxnCard h3 {
    color: white;
}

.homepageTxncard__index{
    display: flex;
    align-items: center;
}

.homepageTxncard__index svg {
    font-size: 50px;
}


.icon--grey{
    background-color: rgb(116, 116, 116);
    font-size: 60px !important;
    padding: 5px;
    border-radius: 5px;
}

.icon--blue{
    background-color: rgb(19, 149, 201);
    font-size: 60px !important;
    padding: 5px;
    border-radius: 5px;
}

.icon--red{
    background-color: rgb(230, 10, 10);
    font-size: 60px !important;
    padding: 5px;
    border-radius: 5px;
}

.icon--orange{
    background-color: rgb(255, 208, 0);
    font-size: 60px !important;
    padding: 5px;
    border-radius: 5px;
}

.icon--burgundy{
    background-color: #B8A390;
    font-size: 60px !important;
    padding: 5px;
    border-radius: 5px;
}

.icon--pink{
    background-color: #EB96AA;
    font-size: 60px !important;
    padding: 5px;
    border-radius: 5px;
}

.icon--gold{
    background-color: rgb(144, 146, 0);
    font-size: 60px !important;
    padding: 5px;
    border-radius: 5px;
}


.icon--green{
    background-color: rgb(154, 240, 57);
    font-size: 60px !important;
    padding: 5px;
    border-radius: 5px;
}

.icon--yellow{
    background-color: rgb(234, 250, 144);
    font-size: 60px !important;
    padding: 5px;
    border-radius: 5px;
}
