.assetCard,.assetCard--dark{
    width: 960px;
    height: 100%;
    left: 890px;
    top: 150px;
    background: linear-gradient(86.17deg, #323232 6.28%, #424242 93.72%);
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid rgb(78, 78, 78);
    padding: 10px 40px;
}

.assetCard--dark{
    background:var(--purple);
}


.assetCard--top{
    display: flex;
    align-items: center;
}

.asset__headline{
    margin-left: 20px;
}

.asset__headline h2{
    font-size: 20px;
    line-height: 24px;
    color: white;
    font-weight: 500;
}

.asset__headline h5{
    font-size: 16px;
    line-height: 20px;
    color: rgb(211, 211, 211);
    font-weight: 400;
}

.assetCard--left{
    display: flex;
    align-items: center;
    flex: 0.6;
}
.asset__value{
    font-size: 28px;
    color: white;
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asset__type--income,.asset__type--outcome{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.asset__type--income h2 ,.asset__type--outcome h2 {
    font-size: 16px;
    line-height: 24px;
    border-radius: 25px;
    padding: 5px 15px;
    font-weight: 400;
}

.asset__type--income h2{
    background-color: rgb(43, 131, 73);
}

.asset__type--outcome h2{
    background-color: crimson;
}


.asset__description{
    margin-top: 10px;
}
.asset__description h2{
    font-size: 16px;
    font-weight: 500;
    color: rgb(72, 72, 233);
    cursor: pointer;
}

.asset__description h3{
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.asset__iconWrapper{
    flex: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asset__descriptionIcon{
    display: flex;
    align-items: center;
}

