
.news{
    background-color: #1A1A1B;
    width: 80%;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    margin-left: 20%;
    padding: 70px 50px;
    display: flex;
    align-items: flex-start;
    overflow-y: hidden;
}

.news--left{
    width: 67%;
}

.news--left img{
    border-radius: 10px;
    object-fit: cover;
}

.news--left h2{
    font-size: 44px;
    line-height: 54px;
    transition: all 0.3s;
    cursor: pointer;
}

.news--left h2:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.news--left h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.news--right{
    width: 33%;
    margin-left: 20px;
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.news__singleNews{
    position: relative;
}

.news__singleNews img{
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
}

.news__singleNews h2{
    position: absolute;
    bottom: 40px;
    left: 16px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    transition: all 0.3s;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.news__singleNews h2:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

@media screen and (max-width: 1601px) {
    .news{
        width: 92.5%;
        margin-left:7.5%;
    }
  }