.crypto{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.crypto--left{
    display: flex;
    align-items: center;
}

.crypto__currency{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #757575;
    padding: 10px;
    border-radius: 5px;
}

.crypto__index{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.crypto__index h2{
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
}

.crypto__index h4{
    font-size: 16px;
    font-weight: 400;
    color: #909090;
}

.crypto__percantage--positive{
    font-size: 16px;
    color: rgb(25, 170, 25);
    font-weight: 700;
}

.crypto__percantage--negative{
    font-size: 16px;
    color: rgb(231, 48, 48);
    font-weight: 700;
}


.crypto__stats{
    display: none;
}
